/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}
/*************************************
 * specific styling for .popular-product
 ************************************/

.popular-product {
}

.popular-product .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 100px;
	text-align: center;
}

.popular-product .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

.popular-product .als-prev, .popular-product .als-next {
	top: 65px;
}

.popular-product .als-prev {
	left: 10px;
}

.popular-product .als-next {
	right: 10px;
}